<!DOCTYPE html>
<html>
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>meme-site</title>

<!--    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!--    <link href="./static/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/css/Main.css">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container" id="header">
        <a class="navbar-brand" href="/">Meme Site</a>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">



                <li class="nav-item">

                        {{#user}} <!-- user이 존재한다면-->
                            <span id="username"> {{name}} 님 </span>
                            <a href="/logout" class="btn btn-info active" role="button"> 로그아웃</a>
                        {{/user}}
                        {{^user}} <!-- user이 존재하지 않는다면-->
                            <a href="/oauth2/authorization/google"> <img src="/web_image/google_icon.PNG" height="55"> </a>
                            <a href="/oauth2/authorization/naver" > <img src="/web_image/naver_icon.PNG" height="49"> </a> <!-- apllication-oauth.yml으로 연결 되어 redirect-url로 연결 됨-->
                        {{/user}}

                </li>
                <li class="nav-item">
                &nbsp;&nbsp; &nbsp;
                </li>
                <li class="nav-item">
                    <a href="/uploadfile" > <img src="/web_image/upload-icon.png" height="50"> </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
