#username {
    color: #ffc107;
    text-decoration: underline;
}

#align_center{
    text-align: center;
    margin: auto;
}

#error{
    color: #c82333;
}

body{
    background-color: aliceblue;
}

.container:not(#header){
    background-color:white;
}

.button{
    font-size: 15px;
    padding-top: 5px;
    height: 36px;
    text-align: center;
}

.input_text{
    position: relative;
    top: 3px;
}

#previous{
    text-align: left;
}

#next{
    text-align: right;
}