<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div class="container">
    <div>

        <form action="/search" method="get" >
            <h4> Tags </h4>
            검색할 Tag: <input type="text" name="tagName"><br>
            <hr>
            <input type="submit" value="검색"/>
        </form>


        <hr>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>타입</th>
                <th>등록시간</th>
                <th>다운로드</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="file : ${files}">
                <td> <img th:src="@{'images/' + ${file.fileName}}" width="300" height="300"/> </td>
                <td th:text="${file.fileName}"></td>
                <td th:text="${file.fileType}"></td>
                <td th:text="${file.createdDate}"></td>
                <td><form action="/download" method="post">
                    <input type="hidden" name="fileId" th:value="${file.id}">
                    <input type="submit" value="다운로드">
                </form>

                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
</body> </html>