{{>layout/header}}

<h1> MeMe 리스트 </h1>

<div class="container">
    <div>

        <form action="/search" method="get" >
            <div class="form-group">
                <h4> Tags </h4>
                검색할 Tag: <input type="text" name="tagName">
                <input type="submit" class="btn btn-primary" value="검색"/>
            </div>
        </form>


        <hr>
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>타입</th>
                <th>등록시간</th>
                <th>다운로드</th>
            </tr>
            </thead>

            <tbody id="tbody">
            {{#files}}
                <tr>
                    <td> <img src="img/{{fileName}}" width="300" height="300"/> </td>
                    <td>{{fileName}}</td>
                    <td>{{fileType}}</td>
                    <td>{{createdDate}}</td>
                    <td>
                        <form action="/download" method="post">
                            <input class="form-control" type="hidden" name="fileId" value="{{id}}">
                            <input class="form-control" type="submit" value="다운로드">
                        </form>
                    </td>

                </tr>
            {{/files}}

            </tbody>

        </table>
    </div>
</div>

{{>layout/footer}}