
{{>layout/header}}


<!-- Page Content -->
<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">MEME Gallery</h1>
    <br>
    <form action="/search" method="get" >
        <div class="form-group" id="align_center">
            검색할 Tag : <input type="text" name="tagName" class="input_text">
            <input type="submit" class="button btn btn-primary" value="검색" />
        </div>
    </form>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">

        {{#files}}
            <div class="col-lg-3 col-md-4 col-6">
                <a href="/files/{{id}}" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/img/{{fileName}}"  style="width:400px; height:300px;" alt="">
                </a>
            </div>
        {{/files}}

    </div>

    {{#pageable}}
    <div class="row">

        <div class="col-sm-6" id="previous">
        {{^files.first}}
            <a href="?page=0" role="button" class="btn btn-secondary"> << </a>
            <a href="?page={{previous}}" role="button" class="btn btn-secondary">&larr; 이전</a>
        {{/files.first}}
        </div>

        <div class="col-sm-6" id="next">
        {{^files.last}}
            <a href="?page={{next}}" role="button" class="btn btn-secondary" >다음 &rarr;</a>
            <a href="?page={{lastpage}}" role="button" class="btn btn-secondary" > >> </a>
        {{/files.last}}
        </div>

    </div>
    {{/pageable}}

    <br>
</div>
<!-- /.container -->

{{>layout/footer}}