
{{>layout/header}}

<h1>Hi~</h1>
<br>

<div class="form-group">
    <a href="/file" class="btn btn-primary"> 파일 업로드해보기 </a>
</div>
<br>

<div class="form-group">
<a href="/files" class="btn btn-primary"> 파일 리스트 보고 다운로드 하기 </a>
</div>

{{>layout/footer}}