{{>layout/header}}
<br>

<!-- Page Content -->
<div class="container container-login">
    <br>
    <h1 id="align_center">Login</h1>
    <hr width="300px" style="border: dashed 2px lightcyan;">

    <div id="align_center">
        <div>
        <a href="/oauth2/authorization/google"> <img src="/web_image/google_icon1.PNG" height="55"> </a>
        </div>
        <div>
            <a href="/oauth2/authorization/google"> <img src="/web_image/google_icon2.PNG" height="55"> </a>
        </div>
        <div>
        <a href="/oauth2/authorization/naver" > <img src="/web_image/naver_icon.PNG" height="48"> </a> <!-- apllication-oauth.yml으로 연결 되어 redirect-url로 연결 됨-->
        </div>

    </div>

    <br>
</div>


{{>layout/footer}}